
.btn{
    background-color:#abc1e0;
    border-radius: 30%;
}
.btn-secondary1{
    color: black;
}
.search-container {
    display: flex;
    align-items: center;
  }
  
  #searchInput {
    margin-right: 10px; /* Ajustez la valeur de la marge selon vos besoins */
  }
  .btn{
    color: #0f2641;
    font-weight: 600;
  }
  .modal-body{
    background-color: #abc1e0;
  }
  body {
    background-image: url('/assets/app.jpg');
    background-size: cover;
    height: 210vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }  
  .yl:hover{
    background-color :rgb(197, 60, 60);
  }
  .yx:hover{
    background-color: rgb(151, 187, 22);
  }
  .vv:hover{
    background-color: rgb(74, 74, 247);
  }
  .b:hover{
    background-color: rgb(73, 118, 241);
  }
  h2{
    font-weight: bold;
    color: rgb(15, 37, 97);
  }
  h5{
    font-weight: bold;
    color: rgb(15, 37, 97);
  }
  .card {
    transition: transform 0.3s ease-in-out; /* Ajout de transition pour un effet en douceur */
  }
  .card:hover {
    transform: scale(1.15); /* Modifiez cette valeur selon vos préférences */
  }
  .h{
   margin-left:10px;
  }
  .d{
    margin-left: 100px;
  }
  .aa{
    margin-left:1200px;

}