<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      text-align:center;
    }
    h2{
      color:black;
      font-family: Arial, sans-serif;
      font-size:30px;
      font-weight: bold;
      align-items:'center';
      justify-content:'center';
    }
    .intro-text {
      margin: 20px 0;
      font-size:29px;
      color:#232324;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <div class="container">
    <br><br><br>
  <h2>Bienvenue à CNIFormation</h2>
  
  <div class="intro-text">
    Notre plateforme CNIFormation est spécialement conçue pour vous offrir une expérience d'apprentissage exceptionnelle en tant que nouvel employé du Centre National de l'Informatique (CNI). Que vous soyez novice dans le domaine de l'informatique ou que vous souhaitiez perfectionner vos connaissances, notre plateforme constitue l'outil idéal pour vous accompagner tout au long de votre parcours professionnel.
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

