<!-- Pied de page -->
<footer class="bg-secondary text-center" style="background-color: rgba(250, 225, 225, 0.2)">
  <!-- Conteneur de la grille -->
  <div class="container p-4">

    <!-- Section: Médias sociaux -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="https://www.facebook.com/profile.php?id=100011373568121" role="button"><i class="fab fa-facebook-f"></i></a>

      <!-- Twitter -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i class="fab fa-twitter"></i></a>

      <!-- Google -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="https://mail.google.com/mail/u/0/#inbox" role="button"><i class="fab fa-google"></i></a>

      <!-- Instagram -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i class="fab fa-instagram"></i></a>

      <!-- Linkedin -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="https://www.linkedin.com/feed/" role="button"><i class="fab fa-linkedin-in"></i></a>
      <!-- Github -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="https://github.com/azao982" role="button"><i class="fab fa-github"></i></a>
    </section>
    <!-- Section: Médias sociaux -->


    <!-- Section: Formulaires -->


    <!-- Section: Texte -->
    <section class="mb-4">
      <p class="o">
       
        Le Centre National de l’Informatique est un établissement public à caractère non administratif doté de la personnalité civile et de l’autonomie financière. Le CNI est un organisme placé sous la tutelle du Ministre des Technologies de la Communication, et opérant dans les domaines du secteur de l’informatique et des technologies de la communication et certifié ISO 9001version 2015.    </section>
    <!-- Section: Texte -->


    <!-- Section: Liens -->
    <section class="">
      <!-- Ligne de la grille -->
      <div class="row">
        <!-- Colonne de la grille -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h5> <i class="fas fa-gem me-3"></i>Information de contact</h5>
          <p>
            <br>
            <img src="assets/localisation.png" width="300px" height="200px">
          </p>
        </div>
        <!-- Colonne de la grille -->

        <!-- Colonne de la grille -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h5 class="text-uppercase">Formations</h5>
          <br>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Gestion des conflits</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Gestion du temps</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Communication</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Développement personnel</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Gestion du stress</a>
            </li>
          </ul>
        </div>
        <!-- Colonne de la grille -->

        <!-- Colonne de la grille -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3 b"></i>Centre nationnale de l'informatique</p>
          <p><i class="fas fa-home me-3 b"></i>17,Rue belhassen ben chabane 1005 El Omrane,Tunis</p>

          <p>
            <i class="fas fa-envelope me-3 "></i>
            webcni@cni.tn
          </p>
          <p><i class="fas fa-phone me-3">Tel:</i>+216 71783055</p>
          <p><i class="fas fa-phone me-3">Fax:</i>+216 71781862</p>
        </div>
        <!-- Colonne de la grille -->
      </div>
      <!-- Ligne de la grille -->
    </section>
    <!-- Section: Liens -->

  </div>
  <!-- Conteneur de la grille -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    
    <a class="text-dark" href="/">CNIFormation</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Pied de page -->
