
.btn{
    background-color:#abc1e0;
    border-radius: 30%;
}
.btn-secondary1{
    color: black;
}
.search-container {
    display: flex;
    align-items: center;
  }
  .yl:hover{
    background-color :rgb(175, 49, 49);
  }
  .yx:hover{
    background-color: rgb(151, 187, 22);
  }
  #searchInput {
    margin-right: 10px; /* Ajustez la valeur de la marge selon vos besoins */
  }
  .btn{
    color: #0f2641;
    font-weight: 600;
  }
  .modal-body{
    background-color: #abc1e0;
  }
  body {
    background-image: url('/assets/app.jpg');
    background-size: cover;
    height: 140vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }  
.aa{
    margin-left:1200px;

}