<!-- Votre liste de cours existante -->
<body>
  <br><br>
  <div class="container">
    <h2 class="text-center" style="color:black">Liste des demandes</h2>
    <br>
    <br>
    <div class="table-responsive">
      <table class="table table-striped table-bordered mx-auto">
        <thead class="thead-dark">
          <tr>
            <th scope="col" style="text-align: center;">EmailId</th>
            <th scope="col" style="text-align: center;">Nom</th>
            <th scope="col" style="text-align: center;">Prenom</th>
            <th scope="col" style="text-align: center;">NumTel</th>
            <th scope="col" style="text-align: center;">Adresse</th>
            <th scope="col" style="text-align: center;">Date de l'inscription</th>
            <th scope="col" style="text-align: center;">Accepter</th>
            <th scope="col" style="text-align: center;">Refuser</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of user;let cour of cours">
            <td>{{ item.emailId }}</td>
            <td>{{ item.nom }}</td>
            <td>{{ item.prenom }}</td>
            <td>{{ item.numtel }}</td>
            <td>{{ item.adresse }}</td>
            <td>{{ item.date }}</td>
            <td style="text-align: center;">
              <button type="button" class="btn btn-success" (click)="accepterUtilisateur(item)">Accepter</button>
            </td>
            <td style="text-align: center;">
              <button type="button" class="btn btn-danger" (click)="refuserUtilisateur(item)">Refuser</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button class="btn btn-default aa" (click)="retoura()">
    <i class="fas fa-reply"></i>
</button>
</body>
