
<div class="img">
  <br>
  <br>
  <br><br>
  <h4 class="ac"><br>Améliorez vos compétences
    par vous-même <br>pour vous préparer
    pour un avenir meilleur <br>
    <button class="nav-link a" routerLink="/inscription"><i class="fas fa-user-plus"></i> Inscrire</button>
  </h4>
</div>
<br>
        <br><br>
        <div class="container">
            <div class="row">
              <div class="col">
               <p class="f"><b>Découvrir nos formations</b></p>
              </div>
              <div class="col">
               <button class="g" routerLink="/apropos"><i class="fa fa-eye"></i> Voir plus </button>
              </div>
            </div>
<app-footer></app-footer>

<iframe width="1116" height="450" src="https://www.youtube.com/embed/mo4e3_Lwm2Y?si=O6V0HLX1RwVMnuNC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><br>
<app-listvisit></app-listvisit>